<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.phonegap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AppHolaMundo</name>
    <description>
       esta es una app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Douglas Recinos
    </author>
    <content src="index.html" />
    <icon src="logo.png"/>
    <access origin="http://proyectoues.byethost12.com/*" />
    <engine name="browser" spec="^5.0.4" />
</widget>
